/* You can add global styles to this file, and also import other style files */
* { padding:0; margin:0;}
html, body { width:100%;height: 100%; }
@font-face {
  src: url(./assets/font/NanumSquareR.otf);
  font-family: 'nanum';
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding:0 32px;
    background-color:#F7F9FA;
    position: relative;
}
li {list-style: none;}

.hidden {
  display: none;
}
.nanum {
  font-family: 'nanum' , sans-serif;
}
